body {
    background-color: #343A40;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopWatch {
    color: #FFC107;
    font-size: 200px;
    font-weight: bold;
}

button {
    margin: 10px;
}